<form>
    <div align="center" style="background-color: #252525;padding-top: 5px;padding-bottom: 5px">
     
        <input  type="text" size="60" onkeyup="showResult(this.value)" placeholder="Search..">
</div>
  <div class="windows8" hidden>
	<div class="wBall" id="wBall_1">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_2">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_3">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_4">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_5">
		<div class="wInnerBall"></div>
	</div>
</div>


<div   id="response"></div>

<div id="locationdetils"  ></div>
<!--div align="center" id="showsearchdetails" style="background-color: azure;height: 300px;width: 1000px " ></div-->
<div align="center" id="showsearchdetails" style="position: initial;margin-top: 50px"></div>
<div align="center" id="showreportcomment" style="position: initial;margin-top: 50px"></div>
</form>
 <div id="notifications-bottom-right"></div>