#titleimg{
    position: absolute;
    left: 60px;
    top: 20px;
}
* {
    margin: 0;
}
html, body {
    height: 100%;

}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5em;
}

#content{
    /*position: fixed;
    top: 200px;
    left: 100px;*/
    margin: 0 auto;
    width: 800px;
    padding: 50px 40px;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;

    line-height: 200%;



}

#contentsec1{
    border-left: 10px solid #bbbbbb;
    padding-left: 20px;
}


.footer, .push {
    height: 5em;
}

.footer{
    background-color: #333333;
}

.header_02 {
    clear: both;
    padding-bottom: 20px;
    margin-bottom: 15px;
    font-size: 24px;
    letter-spacing: 2px;
    color: #000000;
}

#logout{
    position: absolute;
    left: 90%;
    top: 30px;
    font-size: 15px;
}
